<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>  
<body>  
<form method="POST" class="post-form" action="/updateEmp/{{employee.pk}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Mettre à jour</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Prénom:</label>  
    <div class="col-sm-4">  
        <input type="text" name="" id="" required  value="{{ employee.first_name }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nom:</label>  
    <div class="col-sm-4">  
        <input type="text" name="" id="" required  value="{{ employee.last_name }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Téléphone:</label>  
    <div class="col-sm-4">  
        <input type="text" name="" id="" required  value="{{ employee.phone_number }}" />  
    </div>  
  </div>   
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Email:</label>  
    <div class="col-sm-4">  
        <input type="email" name="" id="" required  value="{{ employee.email }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Adresse:</label>  
    <div class="col-sm-4">  
        <input type="text" name="" id="" required  value="{{ employee.address }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Département:</label>  
    <div class="col-sm-4">  
        <input type="text" name="" id="" required  value="{{ employee.departement }}" />  
    </div>  
  </div>  
  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Valider</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  